.logo{
    text-align: center;
}

footer {
    padding: 1%;
    background-color: #49bb37;
    
    left: 0;
    bottom: 0;
    width: 100%;
}

.logoimg{
    width: 40%;
}

.bienvenida{
    width: 20%;
}

.caja{
    width: 60%;
}

.caja_portal{
    margin-top: 2%;
}

.btns{
    width: 100%;
    height: 100%;
    background-color: #49bb37;
}

.color {
    background-color: #49bb37;
}

.colorb{
    background-color: white;
}

h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bolder;
    color: rgb(100, 97, 93);
    font-size: 20px;
}

.img-top{
    max-width: 100%;
    max-height: 100%;
}

.img-caja{
    height: 100px;
}

.img-ingreso{
    height: 150px;
}


